# Node modules
**/node_modules/

# Environment files
**/.env
**/.env.*

# Build folders
**/dist/
**/build/

# Logs
*.log
npm-debug.log*

# OS files
.DS_Store
Thumbs.db

# Upload folder
server/uploads/

# Vite cache
.vite/